:root {
  --color--primary: hsl(0, 0%, 100%);
  --color--secondary: hsl(0, 0%, 0%);
  --color--tertiary: hsla(0, 0%, 85%, 0.719);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size--base);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

header {
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  background: url("../assets/images/mobile/image-hero.jpg") no-repeat center
    center/cover;
}

.header {
  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    color: var(--color--primary);
    transform: scale(0.8) translate(-10%);
  }
  &__hamburger {
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    background: var(--color--secondary);
    padding: 1rem;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease;
    pointer-events: none;

    &--open {
      transform: scaleX(1);
      pointer-events: auto;
    }

    &-logo {
      transform: scale(0.7) translate(-20%);
    }

    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 1rem;
    }
  }
  &__close-button {
    color: var(--color--primary);
    transform: scale(0.8);
    cursor: pointer;

    &:hover {
      color: var(--color--tertiary);
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-block: 40%;

    & li {
      margin-inline: 0 auto;
      list-style: none;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      font-size: var(--font-size--base);
    }

    & a {
      color: var(--color--primary);
      text-decoration: none;
      font-family: "Alata", sans-serif;
      font-size: var(--font-size--base);

      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }

  &__text {
    border: 2px solid var(--color--primary);
    padding: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: var(--color--primary);
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 50% 0;

    & h2 {
      width: 10ch;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  gap: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 4rem;

  &__text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__heading {
    color: var(--color--secondary);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, calc(2rem + 0.5vw), 3rem);
    font-weight: 300;
    width: 16ch;
    margin: 0 auto;
  }
  &__paragraph {
    color: var(--color--secondary);
    text-align: center;
    font-family: "Alata", sans-serif;
    font-size: var(--font-size--base);
    font-weight: 400;
    width: 30ch;
    margin: 0 auto;
  }
  &__image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-block-end: 1rem;

    &--primary {
      aspect-ratio: 3 / 2;
      background-image: url("../assets/images/mobile/image-interactive.jpg");
    }

    &--secondary {
      aspect-ratio: 2.725 / 1;

      &::before {
        content: "";
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        position: absolute;
        font-size: clamp(1.5rem, calc(1.2rem + 1vw), 3rem);
        width: 9ch;
        bottom: 1rem;
        left: 1rem;
        color: var(--color--primary);
      }

      &__deep-earth {
        background-image: url("../assets/images/mobile/image-deep-earth.jpg");
        position: relative;

        &::before {
          content: "Deep Earth";
        }
      }
      &__night-arcade {
        background-image: url("../assets/images/mobile/image-night-arcade.jpg");
        position: relative;

        &::before {
          content: "Night Arcade";
        }
      }
      &__soccer-team {
        background-image: url("../assets/images/mobile/image-soccer-team.jpg");
        position: relative;

        &::before {
          content: "Soccer Team VR";
        }
      }
      &__the-grid {
        background-image: url("../assets/images/mobile/image-grid.jpg");
        position: relative;

        &::before {
          content: "The Grid";
          width: 4ch;
        }
      }
      &__from-above {
        background-image: url("../assets/images/mobile/image-from-above.jpg");
        position: relative;

        &::before {
          content: "From Up Above VR";
          color: var(--color--primary);
        }
      }
      &__pocket-borealis {
        background-image: url("../assets/images/mobile/image-pocket-borealis.jpg");
        position: relative;

        &::before {
          content: "Pocket Borealis";
        }
      }
      &__the-curiosity {
        background-image: url("../assets/images/mobile/image-curiosity.jpg");
        position: relative;

        &::before {
          content: "The Curiosity";
        }
      }
      &__make-it-fisheye {
        background-image: url("../assets/images/mobile/image-fisheye.jpg");
        position: relative;

        &::before {
          content: "Make It Fisheye";
        }
      }
    }
  }
  &__button {
    border: 2px solid var(--color--secondary);
    background: var(--color--primary);
    padding: 1rem 3rem;
    width: fit-content;
    max-width: 60%;
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    order: 1;
  }
}

footer {
  display: grid;
  grid-template:
    "logo" auto
    "links" auto
    "icons" auto
    "copyright" auto
    "attribution" auto/ 1fr;
  gap: 1rem;
  width: 100%;
  background-color: var(--color--secondary);
  padding: 3rem 1rem;
  font-family: "Alata", sans-serif;
  font-size: var(--font-size--base);

  & > * {
    align-self: center;
    justify-self: center;
  }

  & a {
    color: var(--color--primary);
  }
}

.footer {
  &__logo {
    grid-area: logo;
    color: var(--color--primary);
  }
  &__icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__icon {
    color: var(--color--primary);
  }
  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 1rem;

    & li {
      list-style: none;
    }
    & a {
      color: var(--color--primary);
      text-decoration: none;
    }
  }
  &__copyright-text {
    grid-area: copyright;
    color: var(--color--tertiary);
  }
  &__attribution {
    grid-area: attribution;
    color: var(--color--tertiary);
  }
}

@media screen and (min-width: 45rem) {
  header {
    padding: 3rem 7% 0;
    background: url("../assets/images/desktop/image-hero.jpg") no-repeat center
      center/cover;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.317);
      z-index: 1;
    }

    & > * {
      z-index: 2;
    }
  }

  .header {
    &__logo {
      transform: scale(1) translate(0);
    }

    &__nav {
      position: static;
      background: transparent;
      transform-origin: none;
      transform: scaleX(1);
      transition: none;
      pointer-events: auto;

      &-top {
        display: none;
      }
    }

    &__text {
      font-size: 4rem;
      margin: 15% auto 15% 0;
      padding: 3rem;
      max-width: 100%;

      & h2 {
        width: 15ch;
      }
    }

    &__hamburger {
      display: none;
    }

    &__links {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: initial;
      margin-block: 0;

      & li {
        list-style: none;
      }

      & a {
        color: var(--color--primary);
        text-decoration: none;
        font-family: "Alata", sans-serif;
        font-size: var(--font-size--base);

        &:hover {
          opacity: 0.7;
          text-decoration: underline;
        }
      }
    }
  }
  main {
    padding: 5rem 7%;
    gap: 8rem;
  }
  .container {
    position: relative;

    &:nth-of-type(1) {
      flex-direction: row;
    }
    &:nth-of-type(2) {
      display: grid;
      grid-template: auto 1fr 1fr / repeat(4, 1fr);
    }
    &__text {
      position: absolute;
      background: var(--color--primary);
      bottom: -20%;
      right: 0;
      width: fit-content;
      padding: 3rem 0 0 3rem;
      gap: 2rem;
    }
    &__heading {
      margin-inline: 0 auto;
      text-align: left;

      &--secondary {
        grid-area: 1 / 1 / span 1 / span 3;
        margin-block-end: 2rem;
      }
    }
    &__paragraph {
      margin-inline: 0 auto;
      text-align: left;
      width: 40ch;
    }

    &__image {
      &--primary {
        background-image: url("../assets/images/desktop/image-interactive.jpg");
        aspect-ratio: 1.462 / 1;
        width: 70%;
      }
      &--secondary {
        aspect-ratio: 56 / 100;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &__deep-earth {
          background-image: url("../assets/images/desktop/image-deep-earth.jpg");
        }
        &__night-arcade {
          background-image: url("../assets/images/desktop/image-night-arcade.jpg");
        }
        &__soccer-team {
          background-image: url("../assets/images/desktop/image-soccer-team.jpg");
        }
        &__the-grid {
          background-image: url("../assets/images/desktop/image-grid.jpg");
        }
        &__from-above {
          background-image: url("../assets/images/desktop/image-from-above.jpg");
        }
        &__pocket-borealis {
          background-image: url("../assets/images/desktop/image-pocket-borealis.jpg");
        }
        &__the-curiosity {
          background-image: url("../assets/images/desktop/image-curiosity.jpg");
        }
        &__make-it-fisheye {
          background-image: url("../assets/images/desktop/image-fisheye.jpg");
        }
      }
    }
    &__button {
      grid-area: 1 / 4 / span 1 / span 1;
      order: 0;
      margin: 0;
      margin-inline-start: auto;
      max-width: none;
      margin-block-end: 2rem;
    }
  }
  footer {
    grid-template:
      "logo icons" auto
      "links copyright" auto
      "attribution attribution" auto/ 1fr 1fr;
    padding: 3rem 7% 1rem;
  }

  .footer {
    &__logo {
      justify-self: start;
    }
    &__icons {
      justify-self: end;
    }
    &__links {
      justify-self: start;
      flex-direction: row;
    }
    &__copyright-text {
      justify-self: end;
      text-align: right;
    }
  }
}

@media screen and (min-width: 60rem) {
  header,
  main,
  footer {
    padding-inline-start: 10%;
    padding-inline-end: 10%;
  }

  main {
    gap: 4rem;
  }
  .header {
    &__text {
      font-size: 5rem;
    }
  }
  .container {
    &__text {
      padding: 5rem 0 0 7rem;
      bottom: 0;
    }
    &__paragraph {
      width: 29.3rem;
    }
  }
  .footer {
    &__links {
      gap: 3rem;
    }
  }
}
