:root {
  --color--primary: hsl(0, 0%, 100%);
  --color--secondary: hsl(0, 0%, 0%);
  --color--tertiary: hsl(0, 0%, 85%);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size--base);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

header {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background: url("../assets/images/mobile/image-hero.jpg") no-repeat center
    center/cover;
}

.header {
  &__logo {
    color: var(--color--primary);
  }
  &__nav {
    display: none;
  }
  &__text {
    border: 2px solid var(--color--primary);
    padding: 1rem 0.2rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: var(--color--primary);
    font-size: 1rem;
    margin: 4rem 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__heading {
    color: var(--color--secondary);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 300;
  }
  &__text {
    color: var(--color--secondary);
    text-align: center;
    font-family: "Alata", sans-serif;
    font-size: var(--font-size--base);
    font-weight: 400;
  }
  &__image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--primary {
      aspect-ratio: 3 / 2;
      background-image: url("../assets/images/mobile/image-interactive.jpg");
    }

    &--secondary {
      aspect-ratio: 2.725 / 1;

      &__deep-earth {
        background-image: url("../assets/images/mobile/image-deep-earth.jpg");
        position: relative;

        &::before {
          content: "Deep Earth";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__night-arcade {
        background-image: url("../assets/images/mobile/image-night-arcade.jpg");
        position: relative;

        &::before {
          content: "Night Arcade";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__soccer-team {
        background-image: url("../assets/images/mobile/image-soccer-team.jpg");
        position: relative;

        &::before {
          content: "Soccer Team VR";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__the-grid {
        background-image: url("../assets/images/mobile/image-grid.jpg");
        position: relative;

        &::before {
          content: "The Grid";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__from-above {
        background-image: url("../assets/images/mobile/image-from-above.jpg");
        position: relative;

        &::before {
          content: "From Up Above VR";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
          color: var(--color--primary);
        }
      }
      &__pocket-borealis {
        background-image: url("../assets/images/mobile/image-pocket-borealis.jpg");
        position: relative;

        &::before {
          content: "Pocket Borealis";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__the-curiosity {
        background-image: url("../assets/images/mobile/image-curiosity.jpg");
        position: relative;

        &::before {
          content: "The Curiosity";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
      &__make-it-fisheye {
        background-image: url("../assets/images/mobile/image-fisheye.jpg");
        position: relative;

        &::before {
          content: "Make It Fisheye";
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          color: var(--color--primary);
        }
      }
    }
  }
}

footer {
  display: grid;
  grid-template:
    "logo" auto
    "links" auto
    "icons" auto
    "copyright" auto
    "attribution" auto/ 1fr;
  gap: 1rem;
  width: 100%;
  background-color: var(--color--secondary);
  padding: 3rem 1rem;

  & > * {
    align-self: center;
    justify-self: center;
  }
}

.footer {
  &__logo {
    grid-area: logo;
    color: var(--color--primary);
  }
  &__icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__icon {
    color: var(--color--primary);
  }
  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 1rem;

    & li {
      list-style: none;
    }
    & a {
      color: var(--color--primary);
      text-decoration: none;
    }
  }
  &__copyright-text {
    grid-area: copyright;
    color: var(--color--tertiary);
  }
  &__attribution {
    grid-area: attribution;
    color: var(--color--tertiary);
  }
}
