:root {
  --color--primary: hsl(0, 0%, 100%);
  --color--secondary: hsl(0, 0%, 0%);
  --color--tertiary: hsl(0, 0%, 85%);
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size--base);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

footer {
  display: grid;
  grid-template:
    "logo" auto
    "links" auto
    "icons" auto
    "copyright" auto
    "attribution" auto/ 1fr;
  gap: 1rem;
  width: 100%;
  background-color: var(--color--secondary);
  padding: 3rem 1rem;

  & > * {
    align-self: center;
    justify-self: center;
  }
}

.footer {
  &__logo {
    grid-area: logo;
    color: var(--color--primary);
  }
  &__icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__icon {
    color: var(--color--primary);
  }
  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-end: 1rem;

    & li {
      list-style: none;
    }
    & a {
      color: var(--color--primary);
      text-decoration: none;
    }
  }
  &__copyright-text {
    grid-area: copyright;
    color: var(--color--tertiary);
  }
  &__attribution {
    grid-area: attribution;
    color: var(--color--tertiary);
  }
}
